@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #10b981;
  --color-brand-background: #0f172a;
  --color-brand-surface: #1e293b;
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: var(--color-brand-background);
  color: white;
}